[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = a dynamic Product Lifecycle Management System
[access "refs/*"]
	owner = group user/pica-acip
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/pica-acip
	label-Verified = -1..+1 group user/pica-acip
	push = group user/pica-acip
	read = group user/pica-acip
	rebase = group user/pica-acip
	removeReviewer = group user/pica-acip
	submit = group user/pica-acip
[access "refs/heads/*"]
	create = group user/pica-acip
	push = +force group user/pica-acip
	pushMerge = group user/pica-acip
	read = group user/pica-acip
[access "refs/tags/*"]
	push = group user/pica-acip
	push = +force group user/pica-acip
